---
name: Mega auth
on:
  schedule:
    # Runs twice of every month (1 and 15)
    - cron: '0 0 1,15 * *'
  workflow_dispatch:

jobs:
  mega-auth:
    runs-on: ubuntu-latest
    steps:
        - name: Run Docker container and partially mask output
          env:
            EMAIL_PASSWORD_PAIRS: ${{ secrets.EMAIL_PASSWORD_PAIRS }}
          run: |
            OUTPUT=$(docker run -e EMAIL_PASSWORD_PAIRS="$EMAIL_PASSWORD_PAIRS" pavelgural/mega-auth:0.0.1)
            echo "$OUTPUT" | sed -E 's/(Login successful for )(.).*/\1\2***/'
