---
name: Mega auth
on:
  schedule:
    # Runs twice of every month (1 and 15)
    - cron: '0 0 1,15 * *'
  workflow_dispatch:

jobs:
  mega-auth:
    runs-on: ubuntu-24.04-arm
    steps:
        - name: Run MEGA authentication
          env:
            EMAIL_PASSWORD_PAIRS: ${{ secrets.EMAIL_PASSWORD_PAIRS }}
          run: |
            docker run --platform linux/arm64 -e EMAIL_PASSWORD_PAIRS="$EMAIL_PASSWORD_PAIRS" pavelgural/mega-auth:0.0.2
